# web服务配置
WEB_APP_NAME=渡一web服务 # 站点名称，影响API文档标题
WEB_CORS_ORIGINS=* # 跨域白名单，前端开发需要
WEB_CORS_EXPOSE_HEADERS=X-Process-Time
# JWT 签名密钥（必填，请替换为随机长字符串）
WEB_JWT_SECRET_KEY=

# 数据库配置
DB_HOST=localhost # 数据库主机
DB_PORT=5432 # 数据库端口
DB_NAME=duyi_db # 数据库名称
DB_USER=admin # 连接账号
DB_PASSWORD=123123 # 连接密码